:root{
    margin: 0;
}
/* Navbar Section */
.navbar-nav {
    display: flex;
    gap: 20px; 
    }

.navbar .container-fluid li {
    display: flex;
    align-items: center; 
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar .container-fluid{
        display: flex;
        flex-direction: row-reverse
    }
}

/* Banner Section  */

.background-container {
    position: relative;
    width: 100%;
    height: 80vh; /* Full viewport height */
    background-image: url('../Images/Banner_Image.png'); /* Path to your background image */
    background-size: cover; /* Ensure the image covers the container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating of the image */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Text color */
  }
  
  /* Style the overlay text */
  .text-overlay-Banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: rgba(94, 94, 94, 0.5); 
    
    /* Semi-transparent background for readability */
    border-radius: 10px;
    max-width: 90%; /* Ensure the overlay does not exceed the container width */
  }
  
  /* Responsive font sizes */
  .text-overlay-Banner h1 {
    margin: 0;
    font-size: 4.5vmin; /* Font size relative to viewport height */
  }
  
  .text-overlay-Banner p {
    margin: 0;
    font-size: 1.5vmin; /* Font size relative to viewport height */
  }
  
/* Responsive adjustments */
  @media (max-width: 576px) {
    .text-overlay-Banner h1 {
      font-size: 4vw; /* Font size relative to viewport width */
    }
  
    .text-overlay-Banner p {
      font-size: 2vw; /* Font size relative to viewport width */
    }
  }
.text-overlay-Banner h1 span  {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;font-weight: bold;}

/* Main Section  */
.main_Container {
    margin-top: 2%;
    position: relative;
    width: 80%; /* Adjust width based on your image */
    font-family: Arial, sans-serif;
    background-color: white;/* Adjust height based on your image */

}

/* Responsive adjustments */
@media (max-width: 891px) {
    .main_Container{width: 95% !important;}
}
/* About j2i Section  */
.About_Container {
    padding-left: 5vh;
    position: relative; /* Ensure that the text-overlay-About-Section is positioned relative to About_Container */
}

.text-overlay-About-Section {
    text-align: justify; 
    position: absolute;
    top: 80px;
    left: 40px;
    border-radius: 20px 0px 80px 20px !important;
    background: rgba(51, 83, 112, 0.77);
    color: white;
    padding: 10px;
    width: 50%; /* Adjust width of the text container */
    border-radius: 5px;
}

.text-overlay-About-Section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-overlay-About-Section span {
    color: #f7d937; /* Yellow color for "We Are" */
}

.text-overlay-About-Section p {
    font-size: 14px;
    line-height: 1.5;
}

.About_Container .logo {
    margin-bottom: -5vh;
}

/* Responsive adjustments */
@media (max-width: 699px) {
    .About_Container{margin-top: 5%;}
    .text-overlay-About-Section{
        top: 0;
        left: 0;
        width: 100%;
    }
    .About_Container img{
        width: 100%;
    }
}


/* Departement Section */

.Departement_Container{display: flex;
align-items: start;
flex-direction: column;
}
.Departement_Container span{
    margin-left: 0;
    color: #1262AE;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22.426px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.897px;
    text-transform: capitalize;
}
.Departement_Container .logo {
    margin-top: 2%;
    width: 100%;
    height: 80%;
}
/* Responsive adjustments */
@media (max-width: 891px) {
    .Departement_Container .logo{height: 6cm;}
}

/* Our Values Section */
.Values_Container{
margin-top: 5%;
display: flex;
flex-direction: column;
align-items: start;
}
.title{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
     /* 72px */
}
.title .part1{
    color: #1262AE;
}
.title .part2{
    color: #E2DD68;
}
.text{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-align: justify;  /* 27px */
    margin-bottom: 2%;
    
}
.Values_Container .card{
    border: none;
    border-left: 2px solid #EEE623;
}
.Values_Container .card .card-title{
    display: flex;
    align-items: start;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #1262AE; 
}
.Values_Container .card .card-text{
    display: flex;
    align-items: start;
    text-align: justify;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 2%;
}
/* Responsive adjustments */
@media (max-width: 891px) {
    p {font-size: 1.7vh !important;}
    h5{font-size: 2vh !important;}
    span {font-size: 2.4vh !important;}
    .text{font-size: 1.7vh !important;}
}


/* Our Sponsors */
.Our_Sponsors_Container{
    text-align: justify;
}
.carousel-item img {
    max-height: 20vh !important; /* Adjust this value to change the logo size */
    margin: 0 3px; /* Adds spacing between logos */
  }
  
  /* Adjust the position of the control icons */
.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(73, 73, 73, 0.225); /* Optional, changes the color of the control icons */
    border-radius: 50%;
  }

/* Responsive adjustments */
  @media (max-width: 800px) {
    .carousel-item img {
        max-height: 13vh !important;
    }
    .background-container {
        height: 50vh;
    }
  }


/* Footer Styling */
footer {
    background: linear-gradient(to right, #0b4f94, #1fa2ff);
    color: white;
    padding: 40px 0;
  }
footer p{
    font-size:0.4cm !important ;
}  
  .footer-widget-area {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
  }
  
  .footer-widget-area .col-md-3 {
    flex: 1; 
    padding: 10px;
  }
  
  .footer-widget-area .col-md-3:first-child {
    flex: 0 0 40%; 
  }
  
  .footer-widget-area .col-md-3:nth-child(n+2) {
    flex: 1; 
  }
  
  .footer-logo {
    float: left;
    width: 35%;
    padding-right: 16px;
  }
  
  .footer-text {
    padding: 4px;
    color: white;
    text-align: justify;
  }
  
  .single-footer-widget {
    width: 100%;
  }
  
  .font-new {
    color: #E2DD68;
    font-size: 110%;
    font-weight: bolder;
    margin-bottom: 4%;
  }
  
  .single-footer-widget p {
    color: white;
  }
  
  .single-footer-widget p i {
    margin-right: 18px;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    width: 55%;
  }
  
  .card {
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
    padding: 1%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay .info {
    background-color: #4949498e; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: none; 
  }
  
  .card:hover .overlay {
    opacity: 1; 
  }
  
  .card:hover .overlay .info {
    display: block; 
  }
  
  .footer-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .footer-list li {
    margin-bottom: 10px;
  }
  
  footer .social-icons i {
    color: white;
    width: 3vh;
    height: 3vh;
  }
  
  footer p {
    font-size: 1.5vh;
  }
  
  .info:focus {
    outline: none;
  }
  .card:hover .overlay .info {
    display: block; 
  }

/* Responsive adjustments */
@media (max-width: 1207px) {
    .footer-widget-area {
      display: flex;
      flex-wrap: wrap;
    }
  
    .footer-widget-area .col-md-3 {
      flex: 1 0 100%; 
    }
  
    .footer-widget-area .col-md-3:nth-child(1) {
      flex: 1 0 100%; 
    }
  
    .footer-widget-area .col-md-3:nth-child(2) {
      flex: 1 0 40%; 
    }
  
    .footer-widget-area .col-md-3:nth-child(3) {
      flex: 1 0 20%; 
    }
  
    .footer-widget-area .col-md-3:nth-child(4) {
      flex: 1 0 40%; 
    }
  }
  
@media (max-width: 800px) {
    .footer-widget-area {
      display: flex;
      flex-wrap: wrap;
    }
  
    .footer-widget-area .col-md-3 {
      flex: 1 0 100%; /* Default to full width */
    }
  
    .footer-widget-area .col-md-3:nth-child(1) {
      flex: 1 0 100%; /* First item takes full width */
    }
  
    .footer-widget-area .col-md-3:nth-child(2) {
      flex: 1 0 65%; /* Second item takes 70% width */
    }
  
    .footer-widget-area .col-md-3:nth-child(3) {
      flex: 1 0 35%; /* Third item takes 30% width */
    }
  
    .footer-widget-area .col-md-3:nth-child(4) {
      flex: 1 0 100%; /* Fourth item takes full width */
    }
  }

/* Club Event */

.club-events, .club-departments {
    text-align: start;
    width: 100%;
    margin: 0 auto;
}

.event-card {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.event-card img {
    width: 40%;
    object-fit: cover;
}

.event-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.event-details h3 {
    margin: 0 0 10px;
    font-size: 20px;
}

.event-details p {
    margin: 0 0 20px;
    color: #666;
}

.rsvp-btn {
    background-color: #00b15e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    align-self: flex-end;
}
.club-events .event-card{
    margin-top: 5%;
}

/* Club Departement */
.club-departments{
    margin-top: 5%;
}
.departments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.department {
    width: 23%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3vh;
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensures the overlay is properly contained */
}

.img-container img {
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay-text {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.img-container:hover .overlay {
    opacity: 1; /* Show the overlay and text on hover */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .department {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .department {
        width: 100%;
    }
}
/* Contact Section  */

.contact-form {
    display: flex;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;
}
.form-section {
    padding: 40px;
    flex: 1;
}
.form-section h1 {
    font-size: 3em;
    color: #0e4fa8;
}
.form-section h1 span {
    color: #E2DD68;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    height: 150px;
    resize: none;
}
.submit-btn {
    width: 70%;
    background-color: #E2DD68;
    color: #0e4fa8;
    padding: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #E2DD68;
}
.image-section {
    background-image: url('../Images/Isamm_Location.png');
    background-size: cover;
    background-position: center;
    flex: 1;
}
/* Responsive design */
@media (max-width: 768px) {
            .contact-form {
                flex-direction: column;
            }
            .image-section {
                display: none; /* Hide image section */
            }
            .form-section {
                width: 100%; /* Form takes full width */
                padding: 20px;
            }
}


/* Initial state */
.section-to-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Triggered animation state */
.section-to-animate.animate {
    opacity: 1;
    transform: translateY(0);
}


